.inputsearch {
    position: absolute;
    top: 40px;
    background: #fff;
    z-index: 10;
    width: 100%;
    padding: 4px;
    & a {
        color: #333;
    }
    & div {
        &:hover {
            background: #eee;
        }
    }
}