.footer {
        background: orange;
        display: flex;
        justify-content: space-around;
        min-height: 5vh;
        align-items: center;
}
.footer__content {
        display: flex;
        justify-content: space-around;
        align-items:center;
        flex-wrap:wrap;
}
.footer__content a{
        display:inline-block;
        padding:10px;
      }

a.rollover__vl {
        display: block;
       }
a.rollover__vl:hover {
        background: url(../../../src/assets/images/vl.jpeg) no-repeat;
        display: block;
        background-size: contain;
        background-position: center;
        color: transparent;
       }
a.rollover__vd {
        display: block;
       }
a.rollover__vd:hover {
        background: url(../../../src/assets/images/vd.jpeg) no-repeat;
        display: block;
        background-size: contain;
        background-position: center;
        color: transparent;
       }
a.rollover__ii {
        display: block;
       }
a.rollover__ii:hover {
        background: url(../../../src/assets/images/ii.jpeg) no-repeat;
        display: block;
        background-size: contain;
        background-position: center;
        color: transparent;
       }
a.rollover__vs {
        display: block;
       }
a.rollover__vs:hover {
        background: url(../../../src/assets/images/vs.jpeg) no-repeat;
        display: block;
        background-size: contain;
        background-position: center;
        color: transparent;
       }
a.rollover__vld {
        display: block;
       }
a.rollover__vld:hover {
        background: url(../../../src/assets/images/vld.png) no-repeat;
        display: block;
        background-size: contain;
        background-position: center;
        color: transparent;
       }
a.rollover__sp {
        display: block;
       }
a.rollover__sp:hover {
        background: url(../../../src/assets/images/sp.png) no-repeat;
        display: block;
        background-size: contain;
        background-position: center;
        color: transparent;
       }