.country-box {
  padding: 15px 0;
  width: 100%;
}

.country-img {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #c0bfbf;
  user-select: none;
}

.country-title-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  margin-bottom: 25px;
  border-bottom: 1px solid;
}

.country-title-left {
  display: flex;
  flex-direction: column;

  h3 {
    margin-bottom: 0;
  }
}

.country-title-center {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.map_box {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid rgb(192, 191, 191);
  height: 500px;
}

.country_widgets_box {
  background: red;
}

.ReactGridGallery {
  &_tile:not(:last-child) {
    margin-right: 10px !important;
  }

  &_tile-viewport {
    border: 1px solid #c0bfbf;
    &:hover {
      transition: all 0.3s;
      transform: scale(1.01, 1.01);
      box-shadow: 0 0 10px #767676;
    }
  }
}

.close_1x3s325 {
  padding: 0 !important;

  svg {
    height: 30px;
    width: 30px;
  }
}

.country_card_link {
  &:hover {
    text-decoration: none;
  }

  .card-title {
    color: rgb(1, 136, 189);
  }

  .card {
    color: #333;

    &:hover {
      transition: 0.3s;
      transform: translateY(2px);
      box-shadow: rgba(0, 34, 70, 0.5) 5px 5px 20px 5px !important;
    }
  }
}
